<h3>{logo}</h3><h4>Sale Details</h4><p>
    Hello {contact_person} ({company}),</p><p>Please find the attachment for your sale order ({reference_number})
    details.</p><p>
    <a href="{client_link}"></a></p><p><strong>Warms regards,</strong></p><p>Sales Team<br>Tel:  0724230729 | 0707580060<br><u><a href="http://cedarclink.com">www.cedaclink.com</a></u> | <u><a href="mailto:sales@cedarclink.com">sales@cedarclink.com</a></u><br>Location: Rocks Buildng, Sheikh Karume Rd, Nairobi.Kenya<br><em><strong>Your Partner of Quality Homes</strong></em></p>